<a href="https://colab.research.google.com/github/29Louvers/DS1002-S24/blob/main/Assignments/07_More_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# More pandas exercises

Create a Colab notebook. Complete the tasks as specified in the directions. Run each cell to return the desired output. Save your notebook back to your GitHub repository and submit the GitHub URL for your notebook for review.

1.  Load the following dataset into Colab and perform the requested operations in code.

 Source: https://ds1002-resources.s3.amazonaws.com/data/ride_sharing.csv

In [8]:
# Load pandas and the data
import pandas as pd

In [29]:
path="/content/ride_sharing.csv"

In [28]:
df = pd.read_csv(path)
df.head()

,duration,station_A_id,station_A_name,station_B_id,station_B_name,bike_id,user_type,user_birth_year,user_gender,tire_size
0,12 minutes,81,Berry St at 4th St,323,Broadway at Kearny,5480,2,1959,Male,26
1,24 minutes,3,Powell St BART Station (Market St at 4th St),118,Eureka Valley Recreation Center,5193,2,1965,Male,27
2,8 minutes,67,San Francisco Caltrain Station 2 (Townsend St...,23,The Embarcadero at Steuart St,3652,3,1993,Male,29
3,4 minutes,16,Steuart St at Market St,28,The Embarcadero at Bryant St,1883,1,1979,Male,26
4,11 minutes,22,Howard St at Beale St,350,8th St at Brannan St,4626,2,1994,Male,27

In [37]:
# show how many rows and columns are in this dataset
# df=read_csv(path)

rows = len(df.axes[0])
cols = len(df.axes[1])
# print(df)
print("Number of Rows ", rows)
print("Number of Columns ", cols)

Number of Rows  25760
Number of Columns  10

In [45]:
# The first column, "duration" is seen as a string.
# df.apply(pd_to_numeric())
# Using two snippets of code, clean this column up so that
# is now an integer (int64)
# df['duration'] = df['duration'].astype(int)
df = df[pd.to_numeric(df['duration'], errors='coerce').notnull()]
# df['duration'] = pd.to_numeric(df['duration'], errors='coerce').astype(int)

In [46]:
# Now display the datatypes in the updated dataframe
print(df)

Empty DataFrame
Columns: [duration, station_A_id, station_A_name, station_B_id, station_B_name, bike_id, user_type, user_birth_year, user_gender, tire_size]
Index: []

In [47]:
# Show the min and max values of ride durations (the shortest and longest rides)
min_value = df['Number of Rows'].min()
max_value = df['Number of Columns'].max()
# Hint: If 'df' is the name of your dataframe, simply specify the column name
# and then append the .min() or .max() methods.
# print("Minimum value in column 'duration':", min_value)
# print("Maximum value in column 'duration':", max_value)

KeyError: 'Number of Rows'

In [54]:
# Create a new dataframe object and populate it with rides that are 60 minutes or less.
# limited_df = df.query('duration > 60 and Number_of_Rows < 0')
# limited_df = df.query('A > 60 and B < 0')
print("A" in df.columns)
limited_df = df.query('duration > 60 and Number of Rows < 0')

#
# print(limited_df)
# Hint: Use the .query() method for the dataframe that we used in class.

pass
pass

False

SyntaxError: Python keyword not valid identifier in numexpr query (<unknown>, line 1)

In [35]:
# Now show both the min and max values of the duration column for your new dataset.
min_values = df.min()
max_values = df.max()

int("Minimum values:")
print(min_values)

print("\nMaximum values:")
print(max_values)

ValueError: invalid literal for int() with base 10: 'Minimum values:'

In [ ]:
# Using the new dataframe, update it so that is ONLY has records where
# the tire_size is 26.

In [ ]:
# Finally, produce a count of all records with FEMALE riders
# using the 26-inch wheeled rental bikes for their rentals of
# one hour or less.

2. Find the file `more-messy-data.csv` on GitHub and upload it into Google Colab.

Create a new Pandas DataFrame from that data and perform the following steps.

In [ ]:
# Write a snippet of code that will display the number of duplicate rows exist in the DF.

In [ ]:
# Next, remove all duplicate rows using Python.

In [ ]:
# For the FOUR columns involving sepal and petal length and width, update all NaN
# values with the column mean.

In [ ]:
# Find any values in the dataframe that are still missing, and delete them.

In [ ]:
# How many different species are there?

In [ ]:
# Clean up the 'species' variable so that there are exactly three different values.

3. Bonus:  Regular expressions

Ordinary (non-vanity) Virginia license plates have the form `ABC1234`, meaning they have three upper case letters followed by four digits.  Write a regular expression that matches any string of this form (and doesn't match anything else).  Test your expression with code to make sure it works.

To figure out out how to do this, start with the sample code below.  The `re` package has various functions related to regular expressions, including for example `match()`, which takes two arguments, first the regular expression and second the test string, and tests to see whether the *beginning* of the `test` string matches the pattern `exp`.

Note that `re.match(exp,test)` does not return a boolean variable, as you might expect (in other words, a match doesn't return `True` and a non-match `False`).  The type of object you get is called `re.Match`, which is a data type special to the `re` package.  (The reason for this is that the object contains more information than just whether there is a match or not.) However, you can turn it into a boolean using `bool()` if you want.

Include the following in the notebook you submit:

 1. A regular expression in a text chunk
 2. One or more code chunks in which you test several strings to verify that your regex is correct.
 3. Make sure you display the results of testing various strings.

 See this [documentation page](https://docs.python.org/3/howto/regex.html#regex-howto) for further help.

In [ ]:
# Sample code for testing whether a string matches a regex

# First import this package for working with regular expressions
import re

# Here is an example.
# Play around with different expressions and test strings to see what happens.
exp = 'ab+'
test = 'aabbbc'

if re.match(exp,test):
  print("match!")
else:
  print("no match")

# uncomment this line if you want
# print(type(re.match(exp,test)))

# uncomment this line if you want
# print(bool(re.match(exp,test)))